<p id="notice"><%= notice %></p>
<h1>Your Accomodation</h1>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
<p>
<%= image_tag(@listing.image.url, alt: 'Image') if @listing.image? %>
<% if @listing.attachments? %>
  <ul>
    <% @listing.attachments.each do |attachment| %>
      <li><%= link_to(image_tag(attachment.image.url, alt: 'Image'), attachment.url, target: '_blank') %></li>
    <% end %>
  </ul>
<% end %>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>
 <strong>Features:</strong>
  <%= @listing.feature %>
</p>
 <strong>Number of Room:</strong>
  <%= @listing.num_room %>
</p>
 <strong>Number of Bed:</strong>
  <%= @listing.num_bed %>
</p>
 <strong>Number of Bathroom:</strong>
  <%= @listing.num_bath %>
</p>
 <strong>People:</strong>
  <%= @listing.num_people %>
</p>
<strong>Created by:</strong>
  <%= @listing.user.name %>
</p>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
 <td><%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<%= link_to 'Back', listings_path %>
