<p id="notice"><%= notice %></p>
<h1>Your Accomodation</h1>
<div class='image'>

<%= image_tag(@listing.image.url, alt: 'Image') if @listing.image? %>
  <% @listing.attachments.each do |attachment| %>
      <%= link_to(image_tag(attachment.url, alt: 'Image'), attachment.url, target: '_blank') %>
    <% end %> 
    </div>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
<p class="address">  
Address:
  <%= @listing.address %>
</p>
 <strong>Features:</strong>
  <%= @listing.feature %>
</p>
 <strong>Number of Room:</strong>
  <%= @listing.num_room %>
</p>
 <strong>Number of Bed:</strong>
  <%= @listing.num_bed %>
</p>
 <strong>Number of Bathroom:</strong>
  <%= @listing.num_bath %>
</p>
 <strong>People:</strong>
  <%= @listing.num_people %>
</p>
<strong>Created by:</strong>
  <%= @listing.user.name %>
</p>
<% if current_user==@listing.user %>
<% else%>
<%= link_to 'Reserve Now', new_listing_reservation_path(@listing)  %> |
<%   end %>
<% if current_user==@listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
 <td><%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>|
<% else%>
<%end%>
<%= link_to 'Back', listings_path %>
