<h1>AIRBNB 8.0 </h1>
<h2>We have received your payment!!</h2></br>
<h2>Here is the reservation you made on Airbnb 8.0</h2>
<p><strong><%= @message_title %></strong></p>
<p><strong>Address</strong><%= @message_address%></p>
<p><strong>Price:</strong>RM<%= @message_price%><hr></p>

<h3>Customer's Information</h3>
<p><strong>Gender:</strong><%= @message_gender%></p>
<p><strong>Email:</strong><%= @message_email%></p>

<p>Thanks for using Airbnb8.0</p>
