<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name, type: 'name',placeholder:'NAME' %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email',placeholder:'EMAIL' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password ,placeholder:'PASSWORD'%>
</div>
<div class="text-field">
  <%= form.label :gender %>
  <%= form.text_field :gender, type: 'gender',placeholder:'M/F' %>
  
</div>

<div class="text-field">
  <%= form.label :birthday %>
  <%= form.text_field :birthday, type: 'birthday',placeholder:'yyyy-mm-dd' %>
</div>

  <div class="file-field">
    <%= form.label :image %>
    <%= form.file_field :image %>
    </div>
