<p id="notice"><%= notice %></p>
Please Confirm Your Reservation Before You Make Your Payment</p>
<strong><%=@reservation.listing.title %></p></strong>
<strong>Address:</strong>
<%=@reservation.listing.address %></p>

<strong>Check In:</strong>
<%=@reservation.reserve_from%></p>
<strong>Check Out:</strong>
<%=@reservation.reserve_until%></p>
<strong>Total price for <%=(@reservation.reserve_until-@reservation.reserve_from).to_i%> nights : </strong>RM 

<%=@reservation.price%></p>

<%= link_to 'Back', new_listing_reservation_path %>
